<!DOCTYPE html>
<html>
    <head>
        <%- include('header.ejs') -%>
    </head>
    <body>
        <div class="container">
            <%- include('navbar.ejs') -%>
            
            <!-- Heading -->
            <div class="placeholder" id='addbook-heading'>
                <h1><center> Books in the Library </center></h1>
            </div>

            <!--  Getting the Books data -->
            <table class="table" style="text-align: center;">
                <!-- Table Headers -->
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Genre</th>
                      <th>Date Added</th>

                      <% if(isadmin){ %>
                      <th>Update</th>
                      <th>Remove</th>
                  	  <% } %>

                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(item => { %>
                        <tr>
                            <td><%= item.id %></td>

                            <td>
                                <a href="/books/<%= item.id %>/"><%= item.name %></a>
                            </td>

                            <td><%= item.author %></td>
                            <td><%= item.genre %></td>
                            <td><%= item.dateadded %></td>

                            <% if(isadmin){ %>
                            <td>
                            	<a href="/books/<%= item.id %>/update">Update</a>
                            </td>

                            <td>
                            	<a href="/books/<%= item.id %>/remove">Remove</a>
                            </td>
                            <% } %>

                        </tr>
                    <% }); %>
                </tbody>
            </table>
            
            
        </div>
        <%- include('jslib.ejs') -%>
    </body>
</html>
