<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') -%>
    <style>
      .aside-heading{
        padding-left: 16px;
      }

      #left-helper { 
        position: relative;
        float:left; 
        margin-top: 8px;
        border: 2px solid #dfe2e5;
        border-radius: 0.75em;
        width:300px;        
        margin-right: 16px;
        padding: 16px;
      }

      /* Making good for mobiles */
      @media only screen and (max-width: 850px) {
          /* For making the aside invisible */
          #left-helper {
            float: none;
            width:100%;
          }

          #mobile-cut {
            display: block !important;
          }
      }


    .main-content{
      display: flex !important;
      margin-top: 8px;
      padding-left: 8px;
    }

    </style>
  </head>
  <body>
    <div class="container">
      <%- include('navbar.ejs') -%>

      <!-- Start here -->
      <% if(isadmin){ %>
        <!-- Aside menu is only available for librarians -->
        <aside id="left-helper">
          <div id="aside-division">
            <div class="aside-manage-books">
              <h5 class="aside-heading">Manage Books</h5>
              <ul class="aside-ul">
                <li>
                  <a href='/books/issue'>Book Issue</a>
                </li>
                <li>
                  <a href='/books/return'>Book Return</a>
                </li>
                <li>
                  <a href='/books/add'>Add New Book</a>
                </li>
                <li>
                  <!-- For admin add aditional features -->
                  <a href='/books'>Update Books</a>
                </li>
              </ul>
            </div>
            <hr>
            <div class="aside-manage-users">
              <h5 class="aside-heading">Manage Users</h5>
              <ul class="aside-ul">
                <li>
                  <a href='/students'>View Students</a>
                </li>
                <li>
                  <a href='/admins'>View Admins</a>
                </li>
              </ul>
            </div>
          </div> 
        </aside>
      <% } %>
      <!-- End of Admin Aside Block -->
      <hr id="mobile-cut" style="display: none;">
      <div class="main-content">
        <div>
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <% if(isadmin){ %>
            <p>yes, an admin</p>
          <% } %>
        </div>
      </div>
      <%- include('jslib.ejs') -%>
    </div>
  </body>
</html>
