<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') -%>
    
  </head>
  <body>
    <div class="container">
      <%- include('navbar.ejs') -%>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <%- include('jslib.ejs') -%>
    </div>
  </body>
</html>
